<!DOCTYPE html>
<html>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bespokepage.css' %}">
    

    <body style ="background-color:#DAFFFF;">

        <h1 style="font-size: 35px;">

            The Bespoke Process</h1>

        {% load static %}
        
        <img src="{% static "image.png" %}" class = "center">

        <p1 style="font-style: calibri; font-size: 28px; padding-top: 20px;">
            <br>So you love our designs but you want something slightly different? Now you can commission Eva to make a one just for you. 
            <br><br>The process is truly bespoke: you will get to meet her online, 
            discuss ideas and choose gemstones, 
            and then receive your very special piece of jewellery by post. 
            
            It does not get any more special than that.

            Mind you, she is a busy lady, so it might take some time (there is a waiting list), but we promise - it will be worth it!

            
        </p1>

        <br><br><p2 style="font-size: 28px;" class = "centertext"><a href="contactus">Contact Us!</a> &nbsp;&nbsp;&nbsp;&nbsp;<a href="book">Book an Appointment!</a> </p2>
    </body>
</html>