{% extends "base.html" %}

{% block title %}My Account - Jewelry Store{% endblock %}

{% block content %}
<div class="section my-account">
    <h1>My Account</h1>
    <ul>
        <li><a href="{% url 'order_history' %}">Order History</a></li>
        <li><a href="{% url 'saved_addresses' %}">Saved Addresses</a></li>
        <li><a href="{% url 'saved_payment_details' %}">Saved Payment Details</a></li>
        <li><a href="{% url 'wishlist' %}">Wishlist</a></li>
        <li><a href="{% url 'recommendations' %}">Recommendations</a></li>
    </ul>
</div>
{% endblock %}


